.container.about-page {
  .left-half {
    width: 50%;
  }
}

.cube-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  width: 15vw;
  height: 15vw;
  perspective: 800px;
  opacity: 0;
  animation: backInRight 3s 1s forwards;
}

.cubespinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
}

.rotating {
  animation: spinner 14s infinite linear;
}

.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  transition: 2s;
  border: 1px solid #ffffee;
  box-shadow: 0 0 10px 0 #ffffee;
  background-repeat: no-repeat;
  background-color: #ffffee;
  opacity: 0.9;
  color: #ffffee;
  text-align: center;
  font-family: sans-serif;
  font-size: 10vw;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face1 {
  transform: translate3d(0, 0, 7.5vw);
  transition: 2s;
}
.face2 {
  transform: rotateY(180deg) translate3d(0, 0, 7.5vw);
}
.face3 {
  transform: rotateY(-90deg) translate3d(0, 0, 7.5vw);
}
.face4 {
  transform: rotateY(90deg) translate3d(0, 0, 7.5vw);
}
.face5 {
  transform: rotateX(90deg) translate3d(0, 0, 7.5vw);
}
.face6 {
  transform: rotateX(-90deg) translate3d(0, 0, 7.5vw);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 10vw;
    height: auto;
  }
}

@keyframes spinner {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(359deg) rotateX(359deg);
  }
}

@media only screen and (max-device-height: 768px) {
  .container.about-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left-half,
    .right-half {
      width: 95%;
      height: 40%;
      margin-left: 0;
    }

    .left-half {
      display: flex;
      position: relative;
      top: 12%;

      .before-text,
      .after-text {
        display: none;
      }
    }

    .right-half {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 40%;
      top: 12%;
    }

    .cube-container {
      width: 25vw;
      height: 25vw;
      margin: 0;
      animation: backInRight 3s 1s forwards;
    }

    .cube-face {
      font-size: 17.5vw;
    }

    .face1 {
      transform: translate3d(0, 0, 12.5vw);
      transition: 2s;
    }
    .face2 {
      transform: rotateY(180deg) translate3d(0, 0, 12.5vw);
    }
    .face3 {
      transform: rotateY(-90deg) translate3d(0, 0, 12.5vw);
    }
    .face4 {
      transform: rotateY(90deg) translate3d(0, 0, 12.5vw);
    }
    .face5 {
      transform: rotateX(90deg) translate3d(0, 0, 12.5vw);
    }
    .face6 {
      transform: rotateX(-90deg) translate3d(0, 0, 12.5vw);

      img {
        width: 17.5vw;
        height: auto;
      }
    }

    .page-title {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 2px;
    }

    .text-zone {
      margin-left: 20px;
      margin-right: 10px;
    }

    p {
      font-size: 12.5px;
    }
  }
}

@media only screen and (min-device-height: 769px) and (max-device-height: 1024px) {
  .container.about-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left-half,
    .right-half {
      width: 95%;
      height: 40%;
      margin-left: 0;
    }

    .left-half {
      display: flex;
      position: relative;
      top: 10%;

      .before-text,
      .after-text {
        display: none;
      }
    }

    .right-half {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 40%;
      top: 7%;
    }

    .cube-container {
      width: 30vw;
      height: 30vw;
      margin: 0;
      animation: backInRight 3s 1s forwards;
    }

    .cube-face {
      font-size: 17.5vw;
    }

    .face1 {
      transform: translate3d(0, 0, 15vw);
      transition: 2s;
    }
    .face2 {
      transform: rotateY(180deg) translate3d(0, 0, 15vw);
    }
    .face3 {
      transform: rotateY(-90deg) translate3d(0, 0, 15vw);
    }
    .face4 {
      transform: rotateY(90deg) translate3d(0, 0, 15vw);
    }
    .face5 {
      transform: rotateX(90deg) translate3d(0, 0, 15vw);
    }
    .face6 {
      transform: rotateX(-90deg) translate3d(0, 0, 15vw);

      img {
        width: 17.5vw;
        height: auto;
      }
    }
    .page-title {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 2px;
    }

    .text-zone {
      margin-left: 20px;
      margin-right: 10px;
    }

    p {
      font-size: 12.5px;
    }
  }
}
