.container.contact-page {
  .left-half {
    width: 45%;
  }
  .text-zone {
    width: 85%;
  }
}

.flat-button {
  animation: fadeInUp 1s ease 1s forwards;
}

.contact-form {
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #6b6b6b;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  ::placeholder {
    color: #b1b1b1;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: #b1b1b1;
  }

  ::-ms-input-placeholder {
    color: #b1b1b1;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #6b6b6b;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 140px;
  }
}

.map-wrap {
  width: 50%;
  height: 100%;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: backInRight 2s 2s;
  animation-fill-mode: forwards;
}

.leaflet-popup-content {
  margin: 12px 10px 10px 10px;
}

.leaflet-popup-content-wrapper {
  width: 94px;
  height: 42px;
}

.popup-text {
  font-weight: 600;
  font-family: "Helvetica";
  font-size: 16px;
}

.leaflet-div-icon {
  filter: saturate(175%);
  background: transparent !important;
  border: none !important;
}

@media screen and (max-width: 1024px) {
  .info-map,
  .map-wrap {
    display: none;
  }

  .container.contact-page {
    .left-half {
      width: stretch;
      margin-bottom: -22%;
      margin-left: 0;
    }
    .right-half {
      display: none;
    }

    .page-title {
      font-size: 36px;
      line-height: 36px;
      letter-spacing: 2px;
    }
    // removed .before-text and .after-text (no longer used)
    .text-zone {
      margin-left: 18px;
      width: 90%;
    }

    p {
      font-size: 16px;
    }
  }
}
